<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="../pages/landingPage.html" class="navbar-link">Início</a></li>
        <li class="navbar-item"><a href="cadastropaciente.html" class="navbar-link">Registro de Paciente</a></li>
        <li class="navbar-item"><a href="pacientes.html" class="navbar-link">Lista de Pacientes</a></li>
        <li class="navbar-item"><a href="cadastroProntuario.html" class="navbar-link">Registro de Atendimento</a></li>
        <li class="navbar-item"><a href="cadastroConduta.html" class="navbar-link">Registro de Conduta</a></li>
        <li class="navbar-item"><a href="prontuario.html" class="navbar-link">Próximo Paciente</a></li>
    </ul>
</nav>